$MainColor: #086CF9;
$maintextColor1: #000000;
$maintextColor2: #222222;
$maintextColor3: #333333;
$maintextColor4: #555555;
$blogTextColor: #444444;
$coursesBgColor: #ECF4FF;
$courseCardBorder: #C8C8C8;
$footerBg: #D3E5FE;